body{
	margin: 0;
	padding: 0;
}
.caja1{
	width: 200px;
	height: 200px;
	background-color:#ee3e64;
	position: relative;
}
.caja2{
	width: 200px;
	height: 200px;
	background-color: #44accf;
	position: relative;
	left: 200px;

}
.caja3{
	width: 200px;
	height: 200px;
	background-color: #b7d84b;
	position: relative;
}